In [15]:
l1 = ['1', '123', '123', '12', '1', '123']
l2 = [2, 4, -2, -3, 0 , 11 , 3, -1]

d4 = {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}
d5 = {'a': 3, 'b': 4, 'c': 5, 'd': 6, 'e': 7, 'f': 8, 'g': 9}
d6 = {'e': 20, 'f': 21, 'g': 22, 'h': 23, 'i': 24, 'j': 25, 'k': 26, 'l': 27}

In [16]:
# 4.13
print([len(i_elem) for i_elem in l1])

[1, 3, 3, 2, 1, 3]

In [17]:
# 4.14
print(len([i_elem for i_elem in l1 if len(i_elem) > 2]))

3

In [18]:
# 4.15
print(sum([i_key * i_value for i_key, i_value in d4.items()]))

910

In [19]:
# 4.16
d7 = {i_key: i_value for i_key, i_value in d6.items() if i_key not in d5}
print(d7)

{'h': 23, 'i': 24, 'j': 25, 'k': 26, 'l': 27}

In [20]:
# 4.17
print([i_count * i_value for i_count, i_value in enumerate(l2)])

[0, 4, -4, -9, 0, 55, 18, -7]

In [21]:
# 4.18
print([i_value for i_value in l2 if i_value >= 0])

[2, 4, 0, 11, 3]

In [22]:
# 4.19
print([i_value if i_value >= 0 else i_count for i_count, i_value in enumerate(l2)])

[2, 4, 2, 3, 0, 11, 3, 7]

In [25]:
# 5.1
def mult(num1: int|float|str|complex, num2: int|float|complex) -> int|float|str|complex:
    return num1 * num2

print(mult('555',3))
print(mult(5, 4))
print(mult(5.5, 4))
print(mult(1. + 1j, 4))

555555555
20
22.0
(4+4j)

In [30]:
# 5.2
def mult_3nums(num1, num2=1, num3=1):
    return num1 * num2 * num3

5
25
125

In [35]:
# 5.3
print(mult_3nums(15, 10, 5))
print(mult_3nums(3, 1))
print(mult_3nums(2, 35, 55))
print(mult_3nums(5, 10, 15))
print(mult_3nums(10, 15, 20))

750
3
3850
750
3000

In [37]:
# 5.4
def mult_nums(*args):
    result = 1
    for i in args:
        result *= i
    return result
print(mult_nums(15, 10, 5))
print(mult_nums(3, 1))
print(mult_nums(2, 35, 55))
print(mult_nums(5, 10, 15, 20))

750
3
3850
15000

In [42]:
# 5.5
def operate(sign: str, num1 = 5, num2 = 10) -> int:
    return eval(str(num1) + ' ' + sign + ' ' + str(num2))
print(operate('+'))

15

In [43]:
# 5.6
def calc_2nums(ask: str) -> int:
    print(eval(ask))
calc_2nums('13 - 5')

8

In [46]:
# 5.7
def print_info(brand: str = 'Не указано', 
               model: str = 'Не указано', 
               colour: str = 'Не указано',
               year: str = 'Не указано',
               mileage: str = 'Не указано', 
               num_sign: str = 'Не указано',
               price: str = 'Не указано'):
    print(f'Автомобиль марки: {brand}, модели: {model}, цвета: {colour}, {year} года выпуска, с пробегом: {mileage} км, c номерным знаком: {num_sign}, цена: {price} руб.')

print_info(year = '2023')

Автомобиль марки: Не указано, модели: Не указано, цвета: Не указано, 2023 года выпуска, с пробегом: Не указано км, c номерным знаком: Не указано, цена: Не указано руб.

In [58]:
# 5.8
numbers_dict = {
                    0: 'ноль',
                    1: 'один',
                    2: 'два',
                    3: 'три',
                    4: 'четыре',
                    5: 'пять',
                    6: 'шесть',
                    7: 'семь',
                    8: 'восемь',
                    9: 'девять',
                    10: 'десять',
                    11: 'одиннадцать',
                    12: 'двенадцать',
                    13: 'тринадцать',
                    14: 'четырнадцать',
                    15: 'пятнадцать',
                    16: 'шестнадцать',
                    17: 'семнадцать',
                    18: 'восемнадцать',
                    19: 'девятнадцать',

                    20: 'двадцать',
                    30: 'тридцать',
                    40: 'сорок',
                    50: 'пятьдесят',
                    60: 'шестьдесят',
                    70: 'семьдесят',
                    80: 'восемьдесят',
                    90: 'девяносто',
                    }
def int_to_str(num: int) -> str:
    if num in numbers_dict:
        return numbers_dict[num]
    str_num = ''
    i = 1
    while num > 0:
        str_num = numbers_dict[num % (10 ** i)] + ' ' + str_num
        num -= num % (10 ** i)
        i += 1
    return str_num

print(int_to_str(12))

двенадцать

In [59]:
# 5.8
numbers_dict = {
                    'один':          1,
                    'два':           2,
                    'три':           3,
                    'четыре':        4,
                    'пять':          5,
                    'шесть':         6,
                    'семь':          7,
                    'восемь':        8,
                    'девять':        9,
                    'десять':        10,
                    'одиннадцать':   11,
                    'двенадцать':    12,
                    'тринадцать':    13,
                    'четырнадцать':  14,
                    'пятнадцать':    15,
                    'шестнадцать':   16,
                    'семнадцать':    17,
                    'восемнадцать':  18,
                    'девятнадцать':  19,
                    'двадцать':      20,
                    'тридцать':      30,
                    'сорок':         40,
                    'пятьдесят':     50,
                    'шестьдесят':    60,
                    'семьдесят':     70,
                    'восемьдесят':   80,
                    'девяносто':     90,
                    'сто': 100,
                    'двести': 200,
                    'триста': 300,
                    'четыреста': 400,
                    'пятьсот': 500,
                    'шестьсот': 600,
                    'семьсот': 700,
                    'восемьсот': 800,
                    'девятьсот': 900,
                    }
def str_to_int(num: str) -> int:
    int_num = 0
    for i in num.split():
        int_num += numbers_dict[i]
    return int_num

print(str_to_int('пятьсот тридцать три'))

533